@import "reset.css";
@import "font.css";

body {
  /*background-color: #000;*/
  position: relative;
  font-family: 'Gotham', 'bodoni', sans-serif;
  overflow-x: hidden;
  background-color: black;
  transition: background-color 4s ease;
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -4;
  top: 0;
  left: 0;
}

.rectangle_smile_man {
  width: 22vw;
  position: absolute;
  left: 30vw;
  top: 21vw;
  transform: rotate(5deg);
}
.rectangle_smile_smile {
  width: 9vw;
  position: absolute;
  left: 35.7vw;
  top: 29vw;
  transform: rotate(5deg);
}
.about_memorise {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58vw;
  height: 3vw;
  background-color: #FFD524;
  transform: rotate(54deg);
  position: absolute;
  left: -11vw;
}

 .about_memorise p {
  font-size: 3vw;
  font-weight: bold;
  color: #006561;
}
.yes {
  width: 18vw;
  position: absolute;
  left: 10vw;
  top: 12vw;
  z-index: -2;
}

.coloring {
  position: absolute;
  left: 47vw;
  top: 9vw;
  display: flex;
}
.coloring_after {
  position: absolute;
  left: 47vw;
  top: 9vw;
  display: none;
}
.no {
  width: 19vw;
  position: absolute;
  left: 10vw;
  top: 12vw;
  z-index: -3;
  display: none;
}
.yellow_smile {
  width: 8vw;
  position: fixed;
  left: 87vw;
  top: 34vw;
}

.moving_phrase {
  width: 45vw;
}

.moving_phrase_rectangle {
  background-color: #F33829;
  width: 45vw;
  height: 13vw;
  position: absolute;
  left: 22vw;
  top: 40vw;
  z-index: -1;
  transform: rotate(6deg);
  border: 0.8vw solid black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.moving_phrase_rectangle p {
  color: transparent;
  font-size: 9vw;
  font-weight: bold;
  -webkit-text-stroke: 0.3vw #FBCBE1;
  width: 235vw;
  margin-left: -60vw;
  margin-top: 2vw;
}

.about_childhood {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 56vw;
  top: -12vw;
  width: 67vw;
  height: 2.5vw;
  color: black;
  transform: rotate(128deg);
}

.about_childhood p{
  color: #FBCBE1;
  font-weight: bold;
  font-size: 2.4vw;
}

.about_childhood {
  left: 67vw;
}

.about_happines {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 60vw;
  top: 19vw;
  background-color: #fff;
  border: 1vh solid black;
  width: 50vw;
  height: 30vw;
  transform: rotate(-15deg);
  z-index: -3;
  position: fixed;
}

.about_happines p {
  display: flex;
  justify-content: center;
  font-size: 2.6;
}

.thread_red {
  width: 15vw;
  position: fixed;
  left: 83vw;
  top: -2vw;
}

.thread_pink {
  width: 28vw;
  position: fixed;
  left: -4vw;
  top: 32vw;
}

.button {
  position: absolute;
  left: 77vw;
  top: 37vw;
  width: 12vw;
}


/* ВТОРАЯ ЧАСТЬ*/
.cell {
    width: 200vw;
    height: 205vw;
    position: absolute;
    top: 20vw;
    left: -49vw;
    z-index: -6;
}
.section_two {
  position: absolute;
  top: 66vw;
  z-index: 1;
}

.wow {
  transform: rotate(-11deg);
  margin-top: -5vw;
  margin-left: 24vw;
}
.wow p:first-child {
  font-size: 12vw;
  color: #F33829;
  -webkit-text-stroke: 0.3vw black;
}

.wow p:last-child {
  font-size: 12vw;
  color: #FBCBE1;
  -webkit-text-stroke: 0.3vw black;
  margin-top: -10vw;
  margin-left: -1.5vw;
}

.oops {
  position: absolute;
  transform: rotate(-11deg);
  left: 24vw ;
  top: 38vw;
  display: none;
}
.oops p:first-child {
  font-size: 14vw;
  color: #107663;
  -webkit-text-stroke: 0.3vw black;
}

.oops p:last-child {
  font-size: 14vw;
  color: #89D5F6;
  -webkit-text-stroke: 0.3 black;
  margin-top: -12vw;
  margin-left: -1.5vw;
}

.patch {
  width: 26vw;
  margin-top: 5vw;
  margin-left: 5vw;
}


.about_treatment {
  display: block;
  width: 35vw;
  margin-top: 1.7vw;
}
.thorn {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 69vw;
  height: 39vw;
  background-image: url(../img/thorn.svg);
  background-size: 37vw;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -28vw;
  margin-left: 32vw;
}


.thorn p {
  font-size: 1.7vw;
  margin-top: 16vw;
  transform: rotate(-8deg);
  margin-left: 2vw;
  /*vertical-align: middle;*/
}

.heart_red {
  display: block;
  width: 10vw;
  margin-top: -39vw;
  margin-left: 24vw;
}

.heart_pink {
  display: block;
  width: 10vw;
  margin-top: -7vw;
  margin-left: 20vw;
}

.smile_green {
  width: 20vw;
  height: 26vh;
  background-size: 18vw;
  background-image: url(../img/smile_green_smile.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 16vw;
  margin-left: 5vw;
  display: block;
}

.smile_green_eye {
  display: inline-block;
  width: 9vw;
  height: 9vw;
  background-image: url(../img/smile_green_eye.svg);
  background-size: 7vw;
  background-repeat: no-repeat;
  margin-top: 5vh;
  margin-left: 1.6vw;
}

.smile_green_eye_circle {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: black;
  margin-top: 2.5vw;
}

.smile_green_eyes {
  transform: rotate(-12deg);
}

.smile_green div {
  margin-left: 1.4vw;
  margin-top: 1vw;
}
.smile_green_eyes div:first-child {
  margin-right: -3vw;
}

.sun {
  position: absolute;
  left: 3vw;
  top: 48vw;
  display: none;
}

.smile_triangle {
  background-image: url(../img/smile_rectangle_smile.svg);
  background-repeat: no-repeat;
  background-position: top;
  width: 30vw;
  height: 22vw;
  background-size: 30vw;
  margin-left: 63vw;
  margin-top: -48vw;
}

.smile_triangle_eye {
  width: 3vw;
}

.smile_triangle_eye_div {
  transform: rotate(20deg);
  margin-bottom: -12vw;
  margin-left: 13vw;
  transform: translateY(16vh);
}

.angry {
  position: absolute;
  left: 67vw;
  top: 21vw;
  display: none;
  transition: translate 4s ease;
}

.candy_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../img/candy_wrapper.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 65vw;
  height: 40vw;
  background-size: 50vw;
  z-index: -1;
  margin-top: -4vw;
  margin-left: 31vw;
}
.candy_wrapper p {
  font-family: 'bodoni';
  font-size: 5vw;
  color: #F33829;
  transform: rotate(17deg);
}



/*ТРЕТЬЯ ЧАСТЬ*/
.section_three {
 position: absolute;
 top: 140vw;
}

.number {
 transform: rotate(-17deg);
 margin-left: 48vw;
 margin-top: 5vw;
}
 .number_one {
   margin-top: -9vw;
   margin-left: -1vw;
  font-size: 10vw;
  color: #89D5F6;
  -webkit-text-stroke: 0.3vw black;
 }

 .number_two {
  font-size: 10vw;
  color: #fff;
  -webkit-text-stroke: 0.3vw black;
 }

.street {
  width: 20vw;
  height: 4vw;
  background-color: #F33829;
  border: 0.5vw solid black;
  margin-left: 55vw;
  transform: rotate(10deg);
  margin-top: 14vw;
  z-index: 1;
  position: relative;
}

.street p {
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  margin-top: 0.7vw;
}

.smile_bear {
  background-image: url(../img/smile_bear_smile.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24vw;
  height: 16vw;
  background-size: 20vw;
  margin-top: 11vw;
}

.smile_bear img {
  width: 5vw;
  margin-top: 5vw;
  margin-left: -2vw;
}

.smile_bear img:first-child {
  width: 7vw;
  margin-left: 8vw;
}

.smile_bear img:last-child {
  margin-top: 5vw;
}

.demon {
  position: absolute;
  top: 36vw;
  display: none;
}

.smile_king {
  background-image: url(../img/smile_king_smile.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 35vw;
  height: 28vw;
  background-size: 30vw;
  margin-left: 60vw;
  margin-top: -47vw;
  z-index: 2;
  position: relative;
}

.smile_king_crown {
  display: block;
  width: 5vw;
  transform: translateY(6vw);
  margin-left: 19vw;
}

.sad {
  position: absolute;
  width: 30vw;
  left: 62vw;
  top: 16vw;
  z-index: 7;
  display: none;
}
.info {
  position: relative;
  background-image: url(../img/jelly.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80vw;
  width: 80vw;
  height: 39vw;
  margin-left: 20vw;
  margin-top: -8vw;
}

.info_instagram {
  position: absolute;
  width: 5vw;
  transform: rotate(15deg);
  left: 36vw;
  top: 30vw;
}

.info_vk {
  position: absolute;
  top: 19vw;
  left: 24vw;
  transform: rotate(44deg);
}

.info_facebook {
  position: absolute;
  top: 22vw;
  left: 42vw;
  transform: rotate(-21deg)
}
.info_share {
  position: absolute;
  width: 7vw;
  top:  26vw;
  left: 54vw;
}

.name_of_hospital {
  position: relative;
  margin-top: -38vw;
  margin-left: 13vw;
}

.name_of_hospital img {
  position: absolute;
}


.name_of_hospital p {
  font-size: 1.8vw;
  color: black;
  position: absolute;
  left: 8vw;
  top: 5vw;
  display: flex;
  text-align: center;
  width: 12vw;
  transform: rotate(10deg);
}

.name_of_hospital img:nth-child(even) {
  display: none;
}

.name_of_hospital img:nth-child(3) {
  left: 1.8vw;
  top: 1.6vw;
}

.name_of_hospital img:nth-child(4) {
  left: 1.8vw;
  top: 1.64vw;
}

.name_of_hospital img:nth-child(5) {
  left: 3.8vw;
  top: 2.6vw;
}
.name_of_hospital img:nth-child(6) {
  left: 3.8vw;
  top: 2.6vw;
}

#inst:hover {
  fill: red;
}

@media (max-width: 5120px) {
  .thread_pink {
    top: 28vw;
  }
  .about_memorise {
    left: -15vw;
    top: -6vw;
  }
  .yes {
    left: 7vw;
  }
  .no {
    left: 7vw;
  }
  .moving_phrase_rectangle {
    top: 35vw
  }
  .coloring {
    left: 53vw;
    top: 6vw;
    width: 36vw;
  }
  .coloring_after {
    left: 53vw;
    top: 6vw;
    width: 36vw;
  }
  .button {
    left: 73vw;
    top: 39vw;
  }
  .thread_red {
    left: 88vw;
  }
  .about_happines p {
    font-size: 2.5vw;
  }
  .section_two {
    top: 64vw;
  }
  .wow {
    margin-top: -17vw;
  }
  .thorn {
    margin-top: -30vw;
  }
  .wow p:last-child {
    margin-top: -11vw;
    margin-left: -1.3vw;
  }
  .heart_red {
    margin-top: -30vw;
  }
  .smile_green {
    margin-top: 6vw;
    margin-left: 1vw;
  }
  .smile_green {
    height: 26vh;
    margin-top: 11vw;
  }
  .thorn p {
    font-size: 2.4vw;
    margin-top: 17vw;
  }
  .section_three {
    top: 125vw;
  }
  .smile_bear {
    height: 19vw;
    margin-top: 2vw;
  }
  .demon {
    width: 22vw;
    top: 37vw;
  }
  .street {
    margin-left: 47vw;
  }
  .smile_king {
    background-size: 19vw;
    margin-left: 55vw;
    margin-top: -41vw;
  }
  .smile_king_crown {
    transform: translateY(9vw);
    margin-left: 19vw;
  }
  .info {
    margin-left: 20vw;
    margin-top: -12vw;
  }
  .name_of_hospital img {
    width: 24vw;
  }
  .name_of_hospital img:nth-child(3) {
    left: 1.8vw;
    top: 1.2vw;
    width: 21vw;
  }
  .name_of_hospital img:nth-child(4) {
    left: 1.8vw;
    top: 1.2vw;
    width: 21vw;
  }
  .name_of_hospital img:nth-child(5) {
    left: 3.2vw;
    top: 2.3vw;
    width: 18vw;
  }
  .name_of_hospital img:nth-child(6) {
    left: 3.2vw;
    top: 2.3vw;
    width: 18vw;
  }
  .name_of_hospital p {
    font-size: 2vw;
    left: 6vw;
    top: 5vw;
  }
  .name_of_hospital {
    margin-top: -46vw;
  }
  .smile_triangle {
    height: 25vw;
    margin-top: -44vw;
  }
  .candy_wrapper {
    margin-top: -14vw;
 }
}

@media (max-width: 1920px) {
  .thread_pink {
    left: -2vw;
  }
  .yes {
    left: 6vw;
  }
  .no {
    left: 6vw;
  }

  .about_memorise {
    left: -16vw;
    top: -3vw;
  }

  .rectangle_smile_man {
    top: 20vw;
  }

  .rectangle_smile_smile {
    top: 28vw;
  }

  .moving_phrase_rectangle {
    top: 34vw;
  }

  .moving_phrase_rectangle p {
    margin-top: 1.4vw;
  }

  .coloring {
    left: 52vw;
    top: 4vw;
    width: 38vw;
    transform: rotate(-9deg);
  }

  .coloring_after {
    left: 52vw;
    top: 4vw;
    width: 38vw;
    transform: rotate(-9deg);
  }

  .about_childhood {
    left: 64vw;
    top: -13vw;
  }

  .about_happines {
    width: 42vw;
    height: 28vw;
  }

  .about_happines p{
    font-size: 2.3vw;
  }

  .yellow_smile {
    top: 28vw;
  }

  .button {
    width: 11vw;
  }

  .thread_red {
    width: 14vw;
    transform: rotate(7deg);
    top: -2vw;
  }

  .cell {
    width: 194vw;
    height: 205vw;
    top: 23vw;
  }

/*SECOND SECTION*/
  .patch {
    margin-top: 4vw;
    width: 28vw;
  }

  .about_treatment {
    width: 33vw;
    margin-top: -1.2vw;
  }

  .wow {
    margin-top: -18vw;
  }

  .wow p:last-child {
    font-size: 12vw;
    -webkit-text-stroke: 0.3vw black;
    margin-top: -12vw;
    margin-left: -1.2vw;
  }

  .wow p:first-child {
   font-size: 12vw;
  }

  .oops p:first-child {
    font-size: 14vw;
  }

  .oops p:last-child {
    font-size: 14vw;
    margin-top: -13vw;
    margin-left: -1vw;
  }

  .oops {
    top: 26vw;
  }

  .heart_red {
    margin-top: -22vw;
  }

  .thorn {
    margin-top: -30vw;
  }

  .thorn p {
    font-size: 2.3vw;
    margin-top: 17.5vw;
  }

  .smile_green {
    background-size: 16vw;
    margin-top: 5vw;
    margin-left: 1vw;
  }


  .smile_green div {
    margin-left: 1vw;
    margin-top: 1vw;
  }

  .smile_green_eyes {
    margin-left: 1.2vw;
  }

  .sun {
    top: 37vw;
  }

  .candy_wrapper {
    margin-top: -19vw;
    margin-left: 29vw;
  }

  .smile_triangle {
    background-size: 24vw;
    margin-left: 63vw;
    margin-top: -34vw;
  }

  .angry {
    left: 70vw;
    top: 22vw;
    width: 16vw;
    animation: move_angry 2s ease infinite;
  }

  @keyframes move_angry {
    0% {
      transform: translate(-25%, 10%) rotate(-30deg);
    }
    10% {
      transform: translate(-20%, 8%) rotate(-25deg);
    }
    20% {
       transform: translate(-15%, 6%) rotate(-20deg);
    }
    30% {
       transform: translate(-10%, 4%) rotate(-15deg);
    }
    40% {
       transform: translate(-5%, 2%) rotate(-10deg);
    }
    50% {
       transform: translate(0%, 0%) rotate(-5deg);
    }
    60% {
       transform: translate(5%, 2%) rotate(0deg);
    }
    70% {
       transform: translate(10%, 4%) rotate(5deg);
    }
    80% {
       transform: translate(15%, 6%) rotate(10deg);
    }
    90% {
       transform: translate(20%, 8%) rotate(15deg);
    }
    100% {
       transform: translate(25%, 10%) rotate(20deg);
    }
  }


  .section_three {
      top: 120vw;
  }

  .number_two {
    font-size: 15vw;
  }

  .number_one {
    margin-top: -13vw;
    margin-left: -1vw;
    font-size: 14vw;
  }

  .street p {
    font-size: 3.3vw;
  }

  .street {
    width: 24vw;
    height: 5vw;
    margin-left: 47vw;
    margin-top: 32vh;
  }

  .smile_bear {
    height: 20vw;
    margin-top: 1vw;
    margin-left: 2vw;
  }

  .demon {
    top: 47vw;
    left: 2vw;
    width: 21vw;
  }

  .smile_king {
    background-size: 26vw;
  }

  .sad {
    width: 27vw;
    left: 64vw;
    top: 24vw;
  }

  .info {
    margin-top: -5.5vw;
  }

  .name_of_hospital {
    margin-top: -50vw;
  }

  .name_of_hospital img {
    width: 28vw;
  }

  .name_of_hospital img:nth-child(2) {
    width: 28vw;
  }

  .name_of_hospital img:nth-child(3) {
    left: 1.5vw;
    top: 1.4vw;
    width: 25vw;
  }

  .name_of_hospital img:nth-child(5) {
    left: 3.0vw;
    top: 2.8vw;
    width: 22vw;
  }

  .name_of_hospital p {
    font-size: 2.2vw;
    top: 6.5vw;
    transform: rotate(15deg);
  }
}

@media (max-width: 1860px) {

  .thread_pink {
    left: 0vw;
  }
  .section_two {
    top: 70vw;
  }
  .cell {
    top: 25vw;
  }

  .wow {
    margin-top: -17vw;
    margin-left: 23vw;
  }

  .oops {
    margin-top: 1vw;
    margin-left: 0vw;
  }
}

@media (max-width: 1740px) {
  .section_two {
    margin-top: -1vw;
  }

  .wow {
    margin-top: -18vw;
  }

  .oops {
    top: 0vw;
  }

  .thorn p {
    margin-top: 17vw;
  }

  .number {
    margin-left: 52vw;
  }

  .section_three {
    top: 131vw;
  }
}


@media (max-width: 1680px) {
  .cell{
    top: 23vw;
  }

  .section_two {
    margin-top: -3vw;
  }

  .wow {
    margin-top: -20vw;
    margin-left: 25vw;
  }

  .oops {
    top: 23vw;
  }

  .heart_red {
    margin-top: -21vw;
  }

  .thorn {
    margin-top: -30vw;
  }

  .thorn p{
    margin-top: 18vw;
  }

  .smile_green {
    background-size: 18vw;
    margin-top: 3vw;
  }

  .smile_green_eye {
    width: 8vw;
  }

  .smile_green div {
    margin-left: 1.2vw;
  }

  .sun {
    top: 38vw;
    left: 1vw;
  }

  .angry {
    top: 24vw;
  }

  .smile_triangle {
    background-size: 26vw;
    margin-top: -36vw
  }

  .candy_wrapper {
    margin-top: -25vw;
  }

/*SECTION THREE*/
  .section_three {
    position: absolute;
    top: 120vw;
  }

  .number {
    margin-left: 54vw;
  }

  .street {
    margin-top: 15vw;
  }

  .smile_bear {
    margin-top: -3vw;
  }

  .smile_bear img {
    width: 5vw;
    margin-top: 6vw;
    margin-left: -2vw;
  }

  .smile_king {
    margin-top: -41vw;
  }

  .sad {
    width: 26vw;
    left: 65vw;
    top: 23vw;
  }

  .demon {
    top: 48vw;
  }

  .info {
    margin-top: -15vw;
  }

  .name_of_hospital {
    margin-top: -55vw;
  }
}

@media (max-width: 1640px) {
  .cell {
    top: 24vw;
  }

  .section_two {
    margin-top: -1vw;
  }

  .wow {
    margin-top: -19vw;
  }

  .oops{
    margin-top: 2vw;
  }

  .thorn {
    margin-top: -33vw;
  }

  .thorn p {
    margin-top: 16vw;
  }

  .smile_green {
    margin-top: 8vw;
  }

  .candy_wrapper {
    margin-top: -20vw;
  }

  .info {
    margin-top: -10vw;
  }

  .number_one {
    margin-top: -13.6vw;
    margin-left: -0.6vw;
  }
}


@media (max-width: 1570px) {

} {
  .cell {
    top: 19vw;
  }

  .section_two {
    margin-top: -0.5vw;
  }

  .wow {
    margin-top: -18vw;
  }

  .candy_wrapper {
    margin-top: -23vw;
  }

  .thorn p {
    margin-top: 17vw;
  }

  .oops{
    margin-top: -18vw;
  }

  .smile_green_eye {
    width: 7vw;
  }

  .section_three {
    top: 123vw;
  }

  .name_of_hospital img:nth-child(5) {
    top: 3vw;
  }

  .name_of_hospital img:nth-child(6) {
    top: 3vw;
  }

  .name_of_hospital p {
    top: 6vw;
  }
}

@media (max-width: 1530px) {

  .moving_phrase_rectangle {
    top: 32vw;
  }

  .rectangle_smile_smile {
    top: 26vw;
  }

  .rectangle_smile_man {
    top: 18vw;
  }

  .cell {
    top: 22vw;
  }

  .section_two {
    margin-top: -3vw;
  }

  .about_happines p {
    font-size: 2.2vw;
  }

  .smile_king {
    margin-top: -38vw;
 }

 .info {
    margin-top: -14vw;
  }

  .about_happines {
    height: 27vw;
  }

  .wow {
    margin-top: -18vw;

  }

  .oops{
    margin-top: -18vw;
  }

  .section_three {
    top: 120vw;
  }
}



@media (max-width: 1460px) {
  .candy_wrapper {
    margin-top: -23vw;
  }

  .thorn p {
    margin-top: 18vw;
  }
}

@media (max-width: 1440px) {
  .thorn p {
    margin-top: 17vw;
  }
}
@media (max-width: 1390px) {
  .coloring {
    top: 3vw;
    width: 39vw;
  }

  .section_two {
    margin-top: -3vw;
  }

  .thorn p {
    margin-top: 17vw;
  }

  .coloring_after {
    top: 6vw;
    width: 39vw;
  }

  .section_two {
    margin-top: -2vw;
  }

  .name_of_hospital p {
    top: 6vw;
    left: 7.6vw;
  }

  .about_happines {
    width: 44vw;
  }
}




@media (max-width: 1340px) {
  .smile_green {
    background-size: 20vw;
  }

  .candy_wrapper {
    margin-top: -25vw;
  }

  .thread_red {
    top: -6vw;
  }

  .thread_pink {
    top: 36vw;
  }
}



@media (max-width: 1220px) {
  .about_happines {
    width: 40vw;
  }

  .moving_phrase_rectangle {
    top: 32vw;
  }

  .thread_pink {
    top: 35vw;
  }

  .section_two {
    margin-top: -2vw;
  }

  .thorn p {
    font-size: 2.2vw;
  }

  .heart_red {
    margin-top: -22vw;
  }

  .smile_triangle {
    background-size: 28vw;
    margin-left: 57vw;
  }

  .section_three {
    top: 120vw;
  }

  .name_of_hospital img:nth-child(3) {
    top: 1.2vw;
  }

  .name_of_hospital img:nth-child(4) {
    top: 1.2vw;
  }

  .name_of_hospital img:nth-child(5) {
    top: 2.4vw;
  }

  .name_of_hospital img:nth-child(6) {
    top: 2.4vw;
  }

  .name_of_hospital p {
    top: 5.8vw;
    font-size: 2.2vw;
  }

  .cell {
    width: 200vw;
    left: -55vw;
  }
}

@media (max-width: 1140px) {
  .about_happines {
    width: 41vw;
  }
}

@media (max-width: 1115px) {
  .section_two {
    margin-top: -2vw;
  }

  .candy_wrapper {
    margin-top: -21vw;
 }

  .about_childhood {
    top: -15vw;
 }

 .smile_triangle {
   margin-top: -39vw;
 }
}

@media (max-width: 825px) {
  .name_of_hospital p {
    left: 7.9vw;
  }
}
@media (max-width: 768px) {
  /*FIRST SECTION*/
  .thread_pink {
    width: 46vw;
    left: -4vw;
    top: 81vw;
  }

  .about_memorise {
    height: 5vw;
    transform: rotate(67deg);
    left: -11vw;
    top: 10vw;
  }

  .yes {
    width: 24vw;
    left: 2vw;
    top: 36vw;
  }

  .no {
    width: 24vw;
    left: 2vw;
    top: 36vw;
  }

  .rectangle_smile_man {
    width: 37vw;
    left: 22vw;
    top: 64vw;
    transform: rotate(12deg);
}

.rectangle_smile_smile {
    width: 17vw;
    left: 30.9vw;
    top: 77vw;
}

.moving_phrase_rectangle p {
    font-size: 12vw;
    -webkit-text-stroke: 0.4vw #FBCBE1;
    width: 120vw;
    margin-left: 2vw;
    margin-top: 3vw;
  }

.moving_phrase_rectangle {
    width: 73vw;
    height: 17vw;
    left: 6vw;
    top: 90vw;
    transform: rotate(13deg);
  }

.coloring {
    left: 40vw;
    width: 62vw;
    top: 18vw;
}

.coloring_after {
    left: 40vw;
    width: 62vw;
    top: 18vw;
}

.about_childhood p {
    font-size: 4vw;
  }

  .about_childhood {
    left: 68vw;
 }

.about_happines {
    left: 41vw;
    top: 42vw;
    width: 74vw;
    height: 46vw;
 }

 .about_happines p {
    font-size: 4vw;
}

  .yellow_smile {
      width: 11vw;
      top: 71vw;
  }

  .button {
      left: 59vw;
      top: 3vw;
      width: 15vw;
  }

  .thread_red {
      width: 30vw;
      position: fixed;
      left: 81vw;
      top: 1vh;
      transform: rotate(4deg);
  }



  .cell {
    width: 224vw;
    height: 228vw;
    top: 88vw;
    left: -54vw;
  }



  /*SECOND SECTION*/
  .section_two {
    margin-top: 89vw;
  }

  .patch {
    width: 34vw;
    margin-top: -16vw;
    margin-left: 5vw;
  }

  .about_treatment {
    width: 43vw;
    transform: rotate(10deg);
    margin-top: 6vw;
  }

  .wow p:last-child {
    font-size: 18vw;
    margin-top: -17vw;
    margin-left: -2vw;
  }

  .wow p:first-child {
    font-size: 18vw;
  }

  .wow {
    transform: rotate(6deg);
    margin-top: 5vw;
    margin-left: 13vw;
  }

  .heart_red {
    width: 16vw;
    margin-top: -65vw;
    margin-left: 30vw;
  }

  .heart_pink {
      width: 15vw;
      margin-top: -10vw;
      margin-left: 25vw;
  }

  .thorn {
      width: 69vw;
      height: 63vh;
      background-size: 46vw;
      margin-top: -57vw;
      margin-left: 37vw;
   }

  .thorn p {
      font-size: 3vw;
      margin-left: 5vw;
      margin-top: 39vw;
   }
   .smile_green {
    width: 20vw;
    height: 31vw;
    background-size: 26vw;
    margin-top: 19vw;
    margin-left: 9vw;
  }

  .smile_green_eye {
    background-size: 9vw;
    width: 9vw;
    margin-top: 7vh;
  }
  .smile_green div {
    margin-left: 0.3vw;
    margin-top: 7vw;
  }

  .smile_green_eye div {
    margin-top: 3vw;
    margin-left: 2vw;
  }

  .smile_green_eyes div:first-child {
    margin-right: -2vw;
  }

  .smile_triangle {
    background-size: 41vw;
    margin-top: -80vw;
    height: 40vw;
  }

  .candy_wrapper {
    background-size: 62vw;
    margin-top: -7vw;
    height: 46vw;
  }

  .candy_wrapper p {
      font-size: 7vh;
  }

  /*THIRD SECTION*/
  .section_three {
    top: 199vh;
  }

  .number {
    margin-left: 57vw;
    margin-top: 2vw;
  }
  .number_one {
    font-size: 17vw;
    -webkit-text-stroke: 0.5vw black;
    margin-top: -16vw;
    margin-left: -2vw;
  }
  .number_two {
    font-size: 17vw;
    -webkit-text-stroke: 0.5vw black;
  }

  .street {
    width: 36vw;
    height: 7vw;
    border: 0.7vw solid black;
    margin-left: 48vw;
    transform: rotate(28deg);
    margin-top: 43vw;
  }

  .street p {
    font-size: 5vw;
  }

  .smile_bear {
    background-size: 27vw;
    margin-top: -9vw;
    margin-left: 9vw;
    height: 25vw;
  }

  .smile_bear img:first-child {
    width: 10vw;
    margin-left: 5vw;
  }

  .smile_bear img {
    width: 7vw;
    margin-left: -3vw;
  }

  .smile_bear img:last-child {
    margin-top: 9vw;
  }

  .smile_king {
    margin-left: 60vw;
    margin-top: -49vw;
    background-size: 32vw;
    transform: rotate(-28deg);
    height: 33vw;
  }

  .smile_king_crown {
    transform: translateY(8vw);
    margin-left: 18vw;
  }

  .sad {
    width: 32vw;
    left: 62vw;
    top: 36vw;
    transform: rotate(-28deg);
  }

  .info {
    background-size: 106vw;
    width: 95vw;
    height: 53vw;
    margin-left: 3vw;
    margin-top: 2vw;
  }

  .info_vk {
    top: 21vh;
    left: 24vw;
  }

  .info_facebook {
    top: 27vh;
    left: 53vw;
  }

  .info_instagram {
    left: 42vw;
    top: 36vh;
  }

  .info_share {
    width: 11vw;
    top: 23vh;
    left: 68vw;
  }

  .name_of_hospital {
    margin-top: -88vw;
    margin-left: 5vw;
  }
    .name_of_hospital img {
      width: 37vw;
    }

  .name_of_hospital p {
    font-size: 2.9vw;
    left: 11vw;
    top: 8vw;
  }

  .name_of_hospital img:nth-child(2) {
    width: 37vw;
  }

  .name_of_hospital img:nth-child(3) {
    width: 32vw;
    left: 2.6vw;
    top: 1.9vw;
  }

  .name_of_hospital img:nth-child(4) {
    width: 32vw;
    left: 2.6vw;
    top: 1.9vw;
  }

  .name_of_hospital img:nth-child(5) {
    width: 27vw;
    left: 4.8vw;
    top: 3.7vw;
  }
  .name_of_hospital img:nth-child(6) {
    width: 27vw;
    left: 4.8vw;
    top: 3.7vw;
  }
}

@media (max-width: 640px) {
  .yellow_smile {
    left: 81vw;
  }

  .thorn {
    margin-top: -71vw;
  }

  .thorn p {
    margin-top: 48vw;
  }

  .smile_triangle {
    margin-top: -88vw;
  }

  .section_three {
    top: 263vw;
  }

  .street {
    margin-top: 39vw;
  }
}


@media (max-width: 605px) {
  .about_happines {
    width: 82vw;
  }

  .thread_pink {
    width: 51vw;
    top: 80vw;
  }

  .rectangle_smile_man {
    top: 66vw;
  }

  .rectangle_smile_smile {
    top: 79vw;
  }

  .thread_red {
    width: 28vw;
    left: 76vw;
    top: -3vw;
    transform: rotate(10deg);
  }

  .thorn p {
    margin-top: 43vw;
  }

  .coloring {
    left: 40vw;
    width: 65vw;
    top: 14vw;
  }
  .smile_green div {
    margin-left: 0.1vw;
  }

  .coloring_after {
    left: 40vw;
    width: 65vw;
    top: 14vw;
  }

  .button {
    left: 23vw;
    top: 3vw;
  }

  .about_childhood {
    top: -17vw;
    left: 67vw;
  }

  .candy_wrapper {
    margin-top: 8vw;
  }

  .yellow_smile {
    top: 89vw;
  }

}

@media (max-width: 505px) {
  .about_happines {
    width: 76vw;
    margin-left: 3vw;
    top: 56vw;
  }

  .section_two {
    margin-top: 91vw;
  }

  .smile_king {
    margin-left: 58vw;
    margin-top: -60vw;
    width: 39vw;
    background-size: 38vw;
    height: 39vw;
  }

  .smile_king_crown {
    transform: translateY(7vw);
    width: 8vw;
  }

  .smile_bear {
    background-size: 33vw;
    width: 30vw;
  }

  .smile_bear img:last-child {
    margin-top: 14vw;
  }

  .smile_bear img:first-child {
    margin-left: 9vw;
  }

  .coloring {
    left: 37vw;
    top: 22vw;
  }

  .coloring_after {
    left: 37vw;
    top: 22vw;
  }

  .heart_red {
    margin-top: -69vw;
    width: 17vw;
  }

  .thorn {
    margin-top: -75vw;
  }

  .thorn p {
    margin-top: 53vw;
  }

  .street {
    margin-top: 34vw;
 }

 .smile_bear {
    background-size: 33vw;
    width: 30vw;
    height: 33vw;
  }


  .heart_pink {
    width: 16vw;
  }

  .about_treatment {
    width: 47vw;
    margin-top: 3vw;
  }

  .smile_triangle {
    background-size: 44vw;
    margin-top: -96vw;
    margin-left: 62vw;
  }

  .smile_green_eye div {
    margin-left: 0vw;
 }
  .candy_wrapper {
    margin-top: 1vw;
  }

  .info {
    margin-top: 6vw;
  }

  .name_of_hospital {
    margin-top: -92vw;
  }

}

@media (max-width: 450px) {
  .moving_phrase_rectangle {
    top: 90vw;
  }

  .moving_phrase_rectangle p {
    font-size: 13vw;
    margin-top: 2.1vw;
    width: 167vw;
  }

  .smile_green {
    margin-top: 4vw;
  }

  .smile_triangle {
    width: 33vw;
  }

  .thorn p {
    margin-top: 59vw;
    margin-left: 8vw;
  }

  .name_of_hospital img:nth-child(3) {
    width: 32vw;
    left: 2.6vw;
    top: 2vw;
  }

  .name_of_hospital img:nth-child(4) {
    top: 2vw;
  }

  .name_of_hospital img:nth-child(5) {
    top: 3.9vw;
  }
  .name_of_hospital img:nth-child(6) {
    top: 3.9vw;
  }

  .name_of_hospital p {
    left: 11vw;
    top: 8vw;
  }

  .street {
    margin-top: 30vw;
  }

}


@media (max-width: 414px) {
  .thread_pink {
    width: 66vw;
    left: -15vw;
    top: 132vw;
    transform: rotate(11deg);
    z-index: -1;
  }
  .yes {
    width: 35vw;
    left: 4vw;
    top: 40vw;
  }

  .no {
    width: 35vw;
    left: 4vw;
    top: 40vw;
  }

  .about_memorise {
    width: 67vw;
    left: -6vw;
    top: 5vh;
    height: 3.7vh;
  }

  .about_memorise p{
    font-size: 3.5vw;
  }

  .rectangle_smile_man {
    left: 16vw;
    top: 128vw;
  }

  .rectangle_smile_smile {
    left: 24.9vw;
    top: 140vw;
  }

  .moving_phrase_rectangle {
    width: 66vw;
    height: 15vw;
    left: 6vw;
    top: 152vw;
  }

  .moving_phrase_rectangle p {
    font-size: 10vw;
    -webkit-text-stroke: 0.3vw #FBCBE1;
    margin-top: 2.2vw;
  }

  .coloring {
    left: 26vw;
    width: 77vw;
    top: 66vw;
    transform: rotate(0deg);
  }

  .coloring_after {
    left: 26vw;
    width: 77vw;
    top: 66vw;
    transform: rotate(0deg);
  }

  .about_childhood {
    left: 76vw;
  }

  .about_happines {
    left: 35vw;
    top: 93vw;
    width: 116vw;
    height: 70vw;
  }

  .about_happines p {
    font-size: 6.2vw;
  }

  .yellow_smile {
    width: 19vw;
    left: 72vw;
    top: 134vw;
  }

  .button {
    left: 3vw;
    top: 20vw;
    width: 26vw;
  }

  .thread_red {
    width: 32vw;
    z-index: -1;
    left: 75vw;
    top: 32vw;
    transform: rotate(8deg);
  }

  .cell {
      height: 353vw;
      top: 135vw;
      width: 270vw;
      left: -66vw;
  }

  .section_two {
    margin-top: 162vw;
  }

  .patch {
    width: 47vw;
    margin-top: -16vw;
    margin-left: 3vw;
  }

  .about_treatment {
    width: 54vw;
    margin-top: 24vw;
  }

  .wow p:first-child {
    font-size: 20vw;
    -webkit-text-stroke: 0.4vw black
  }

  .wow p:last-child {
    margin-top: -18vw;
    margin-left: -3vw;
    font-size: 20vw;
    -webkit-text-stroke: 0.4vw black
  }

  .oops {
    margin-top: -17vw;
    transform: rotate(6deg)
  }

  .heart_red {
    margin-top: -89vw;
    width: 23vw;
    margin-left: 23vw;
  }

  .heart_pink {
    width: 22vw;
    margin-top: -16vw;
    margin-left: 14vw;
  }

  .thorn {
    margin-top: -98vw;
    background-size: 53vw;
    margin-left: 37vw;
  }

  .thorn p {
    margin-top: 64vw;
    margin-left: 8vw;
    font-size: 3.5vw
  }

  .smile_green {
    width: 29vw;
    height: 31vw;
    background-size: 35vw;
    margin-top: 49vw;
    margin-left: 4vw;
  }

  .smile_green_eye {
    background-size: 11vw;
    height: 11vw;
    width: 11vw;
    margin-top: 7vh;
  }

  .smile_green_eye div {
    margin-left: 4vw;
  }

  .candy_wrapper {
    background-size: 75vw;
    width: 75vw;
    margin-top: 6vw;
    margin-left: 17vw;
    height: 55vw;
  }

  .smile_triangle {
    background-size: 55vw;
    margin-top: -128vw;
    margin-left: 54vw;
    width: 39vw;
    height: 47vw;
  }

  .number_two {
    font-size: 19vw;
    -webkit-text-stroke: 0.6vw black;
  }

  .number_one {
    font-size: 19vw;
    -webkit-text-stroke: 0.6vw black;
    margin-top: -17vw;
    margin-left: -3vw;
  }

  .candy_wrapper p {
    font-size: 10vw;
  }

  .street {
    margin-top: 48vw;
  }

  .smile_green div {
    margin-left: 1.1vw;
  }

  .oops p:first-child {
    font-size: 22vw;
    -webkit-text-stroke: 0.5vw black;
  }

  .oops p:lastt-child {
    font-size: 22vw;
    -webkit-text-stroke: 0.5vw black;
  }

  .smile_bear {
    background-size: 38vw;
    width: 36vw;
    height: 36vw;
    margin-top: 33vw;
    margin-left: 1vw;
 }

 .smile_king {
    margin-left: 51vw;
    margin-top: -60vw;
    width: 44vw;
    background-size: 47vw;
    height: 49vw;
 }

 .smile_king_crown {
    transform: translateY(13vw);
    width: 11vw;
    margin-left: 24vw;
  }

  .sad {
    width: 47vw;
    left: 50vw;
    top: 89vw;
    transform: rotate(-28deg);
  }

 .smile_bear img {
    width: 9vw;
    margin-left: -4vw;
  }

 .smile_bear img:first-child {
    margin-left: 11vw;
    width: 12vw;
  }


  .section_three {
    top: 383vw;
  }

  .info {
    margin-top: -12vw;
    background-size: 167vw;
    width: 131vw;
    height: 83vw;
  }

  .name_of_hospital {
    margin-top: -126vw;
  }
}

@media (max-width: 360px) {
  .rectangle_smile_man {
    left: 16vw;
    top: 94vw;
    width: 45vw;
  }

  .rectangle_smile_smile {
    left: 28.9vw;
    top: 111vw;
  }

  .moving_phrase_rectangle {
    top: 124vw;
  }

  .moving_phrase_rectangle p {
    font-size: 12vw;
    -webkit-text-stroke: 0.3vw #FBCBE1;
    margin-top: 1.3vw;
  }

  .coloring {
    left: 34vw;
    width: 77vw;
    top: 32vw;
    transform: rotate(-30deg);
  }

  .coloring_after {
    left: 34vw;
    width: 77vw;
    top: 32vw;
    transform: rotate(-30deg);
  }

  .about_happines {
    left: 40vw;
    top: 67vw;
    width: 116vw;
    height: 67vw;
  }

  .thread_pink {
    width: 63vw;
    left: -2vw;
    top: 99vw;
  }

  .yellow_smile {
    top: 111vw;
  }

  .thread_red {
    top: 20vw;
    transform: rotate(6deg);
  }

  .button {
    left: 34vw;
    top: 3vw;
    width: 18vw;
  }

  .cell {
    top: 99vw;
  }

  .section_two {
    margin-top: 127vw;
  }

  .thorn p {
    margin-top: 53vw;
  }

  .candy_wrapper {
    margin-top: 25vw;
  }

  .section_three {
    top: 336vw;
  }

  .smile_bear {
    margin-top: 5vw;
  }

  .smile_king {
    margin-left: 49vw;
    margin-top: -90vw;
    width: 47vw;
    background-size: 47vw;
  }

  .street{
      margin-left: 44vw;
  }

  .info {
    margin-top: 16vw;
    background-size: 167vw;
    width: 131vw;
    height: 83vw;
  }
}

@media (max-width: 320px) {
  .thorn p {
    margin-top: 52vw;
  }
}
